<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/jquery-3.3.1.js"></script>
    <title>SignIn...</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <span class="navbar-brand text-monospace">Parson</span>
        <a class="btn btn-outline-success my-2 my-sm-0 ml-auto" href="/login">Log In</a>
    </nav>

    <div class="container" style="margin-top: 100px;">
        <h1>Sign In.</h1>
        <br>
        <form method="post" autocomplete="off">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.username) }}
                <small class="form-text text-muted"> Enter a new username. (4-20 characters)<span id="info_username"></span></small>
            </div>
            <div class="form-group">
                {{ form_widget(form.password) }}
                <small class="form-text text-muted"> Enter a new password. (4-20 characters)</small>
            </div>
            <div class="form-group">
                <input id="confpass" type="password" class="form-control" placeholder="Confirm Password">
                <small class="form-text text-muted"> Please retype the same password 2 times.</small>
            </div>

            <div class="form-group">
                {{ form_widget(form.type) }}
                <small class="form-text text-muted"> Sign up as a teacher or a student.</small>
            </div>
            {{ form_end(form) }}
        </form>

    </div>

    
    <script>

        $('#form_submit').addClass("btn btn-primary");
        $('#form_submit').text('Create User');

        // Gestion des conditions de validations du form (mettre les text-input valides ou invalides
        // en fonction de ce que mets l'utilisateur)

        function setValid(selector) {
            $(selector).addClass("is-valid");
            $(selector).removeClass("is-invalid");
        }

        function setInvalid(selector) {
            $(selector).addClass("is-invalid");
            $(selector).removeClass("is-valid");
        }

        function disableSubmit() {
            $("#submit").prop('disabled', true);
        }

        function checkSubmit() {
            if ($("#form_username").hasClass("is-valid") && $("#form_password").hasClass("is-valid") && $("#confpass").hasClass("is-valid")) {
                $("#submit").prop('disabled', false);
            }
        }

        function getUrlParameter(key) {
            let vars = window.location.search.substring(1).split('&');
            for (let i = 0; i < vars.length; i++) {
                let param = vars[i].split('=');
                if (param[0] === key) {
                    return param[1] === undefined ? true : decodeURIComponent(param[1]);
                }
            }
        }

        disableSubmit();
        
        $("#form_username").keyup(function (e) {
            let l = $("#form_username").val().length;
            if (l <= 20 && l >= 4) {
                setValid("#form_username");
                checkSubmit();
            } else {
                setValid("#form_username");
                disableSubmit();
            }
            
            if ($("#form_username").val().length >= 4) {
                $.post("/testUsername", {'username': $("#form_username").val()}, function (data, status){
                    if (data['AlreadyExist']) {
                        $('#info_username').text(" ⚠️ That username is not available.");
                        disableSubmit();
                        setInvalid("#form_username");
                    } else {
                        $('#info_username').text("");
                        checkSubmit();
                        setValid("#form_username");
                    }
                });
            } else {
                $('#info_username').text(" ⚠️ That username is too short.");
                disableSubmit();
                setInvalid("#form_username");
            }
            
        });

        $("#form_password").keyup(function (e) {
            let l = $("#form_password").val().length;
            if (l <= 20 && l >= 4) {
                setValid("#form_password");
                checkSubmit()
            } else {
                setInvalid("#form_password");
                disableSubmit();
            }

            if ($("#confpass").hasClass("is-valid") || $("#confpass").hasClass("is-invalid")) {
                if ($("#form_password").val() == $("#confpass").val() && $("#form_password").val().length >= 4) {
                    setValid("#confpass");
                    checkSubmit()
                } else {
                    setInvalid("#confpass");
                    disableSubmit();
                }
            }

            if (!$("#confpass").hasClass("is-valid") && !$("#confpass").hasClass("is-invalid")) {
                let l = $("#form_username").val().length;
                if (l <= 20 && l >= 4) {
                    setValid("#form_username");
                    checkSubmit()
                } else {
                    setInvalid("#form_username");
                    disableSubmit();
                }
            }
        });

        $("#confpass").keyup(function (e) {
            if ($("#form_password").val() == $("#confpass").val() && $("#form_password").val().length >= 4) {
                setValid("#confpass");
                checkSubmit()
            } else {
                setInvalid("#confpass");
                disableSubmit();
            }

            if (!$("#confpass").hasClass("is-valid") && !$("#confpass").hasClass("is-invalid")) {
                let l = $("#form_username").val().length;
                if (l <= 20 && l >= 4) {
                    setValid("#form_username");
                    checkSubmit()
                } else {
                    setInvalid("#form_username");
                    disableSubmit();
                }
            }
        });
        
    </script>
</body>
</html>

