<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ exo.title }}</title>
</head>
<body>
    <nav class="navbar d-flex align-items-center navbar-dark bg-dark fixed-top">
        <span class="navbar-brand mr-auto p-2 text-monospace">Parson</span>
        <div id="info-user" class="text-white-50 p-2" style="margin-right: 10px">Connected as {{ username }}.</div>
        <a class="btn btn-outline-light my-2 my-sm-0" style="margin-right: 10px" href="/teacher/home">Home</a>
        <a class="btn btn-outline-danger my-2 my-sm-0" style="margin-right: 10px" href="/logout">Log out</a>
    </nav> 
    
    <div class="container" style="margin-top: 100px;">
        {% if not exists %}
            <br>
            <div class="alert alert-warning" role="alert">
            Sorry {{ username }}, but this exercice does not exist or is not yours. Come <a href="/teacher/home" class="alert-link">back</a>.
            </div>
        {% else %}
            <h1>{{ exo.title }}</h1>            
            <p>
            from <span class="font-weight-bold">{{course.title}}</span> - <a href="/teacher/exo/{{id}}/delete" onclick="return confirm('The exercise will be deleted. Continue ?')" class="text-decoration-none"><span class="text-danger">Delete</span></a></p>
            <br>
            <h2>Code</h2>
            <br>
            <pre id="raw_code">{{ exo.code }}</pre>
            <br>
            <div id="preview">
                <h2>Preview</h2>
                <br>
                <div id="list" class="list-group" style="font-family: monospace;"></div>
                <br>
            </div>
        {% endif %}
    </div>
    <script src="https://SortableJS.github.io/Sortable/Sortable.js"></script>
    <script src="/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function (e) {
            let lines = $("#raw_code").text().split('\n');
            let c = [];
            let len;
            if (lines.length >= 10) {
                len = 10;
            } else {
                len = lines.length;
            }

            let code = [];
            for (let i = 0; i < len; i++) {
                if (lines[i].trimLeft().length != 0) {
                    code.push(lines[i]);
                }
            }
    
            for (let i = 0; i < code.length; i++) {
                indent = code[i].length - code[i].trimLeft().length;
                c[i] = '<li class="list-group-item" data-id="' + i + ' " style="margin-left: ' + indent/2 + 'em;">';
                c[i] += code[i];
                c[i] += '</li>';
            }
            $("#list").html(c);
        });
    </script>
</body>
</html>
